# Environment & secrets
.env
.env.*
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/

# Logs
*.log
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/
